@model GooBitAPI.Models.User

@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Profile - DARK</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:500,600,700" />
  <link rel="stylesheet" href="~/css/Profile.css" />
</head>
<body>
  <div class="profile-dark">
    <div class="Profile">
      <div class="Profile-box">
        <div class="profilebg">
          <div class="profile-banner">
            <div class="progile-bg"></div>
            <img class="profile-pic" src="~/Icon/assets/profile-pic-PYs.png" alt="Profile Picture" />
            <p class="email">kitton@sudlor.com</p>
            <p class="Profilename">Kitton Sudlor</p>
          </div>
          <p class="bio">
            bio1<br />
            bio2<br />
            bio3
          </p>
          <div class="event-counter">
            <div class="counter-box">
              <p class="counter-header">Participated </p>
              <p class="counter-num">4</p>
              <img class="logo" src="~/Icon/assets/interface-essential-flag-ZRq.png" alt="Participated Logo" />
            </div>
            <div class="counter-box">
              <p class="counter-header">Hosted</p>
              <p class="counter-num">3</p>
              <img class="logo" src="~/Icon/assets/interface-essential-flag-7i7.png" alt="Hosted Logo" />
            </div>
          </div>
        </div>
        <button class="settings-butt">
          <div class="settings-info">
            <p class="settings">Settings</p>
            <img class="settings-gears" src="~/Icon/assets/droop-line-settings-CT9.png" alt="Settings Gears" />
          </div>
        </button>
      </div>
      <div class="create-post-butt">
        <div class="create-post">
          <img class="Profile-pic-createpost" src="~/Icon/assets/ellipse-490-6KR.png" alt="Create Post Picture" />
          <div class="createquote">What’s event do you want to start?</div>
          <img class="post-icon" src="~/Icon/assets/droop-line-photo-wWP.png" alt="Posts Icon" />
          <img class="post-icon" src="~/Icon/assets/post-icon-Erj.png" alt="Post Icon" />
        </div>
        <div class="posts">
          <div class="post-container">
                <div class='post__container-header'>
                    <img src="~/uploadFiles/1a193173-7cbe-4dc8-ab98-fbb0b112d88f.jpg"/>
                    <div>
                        <p class="post__container-header-name"> Kitton</p>
                        <p class="post__container-header-end_date">2 Days left</p>
                    </div>
                    
                </div>
                <div class='post__container-body'>
                    <div class="img-container">
                        <img src="~/uploadFiles/9756b08b-e987-4a9a-b054-9b831d368b3d.jpg"/>
                    </div>
                </div>
                <div class='post__container-footer'>
                    <p id="title"> Amazon</p>
                    <p id="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero eos culpa aperiam in modi architecto dolorem debitis ipsam eligendi omnis doloremque accusantium, corporis, repellat consequatur quibusdam harum ad dolores illum.</p>
                    <div class="element__container">
                        <div class='post__container-location'>
                            <img src="~/icon/location.png">
                            <p id="location">Amazon</p>
                        </div>
                        <div class='post__container-date'>
                            <img src="~/icon/calendar.png">
                            <p id="date">3/5/2024</p>
                        </div>

                        <div id="participant">
                            <img src="~/icon/group.png">
                            <div class="progress-bar-container">
                                <div class="progress-bar"></div>
                            </div>
                            <p id="attemp">59/123</p>
                        </div>
                    </div>
                 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
