@model GooBitAPI.Models.User

@{
    ViewData["Title"] = "Profile";
}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Profile - DARK</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A500%2C600%2C700"/>
  <link rel="stylesheet" href="~/css/Profile.css"/>
</head>
<body>
<div class="profile-dark-Uvb">
  <div class="navbar-qFM">
    <div class="logo-9Ww">
      <div class="bit-5vP">
        <img class="rectangle-5650-2aj" src="./assets/rectangle-5650-rt7.png"/>
        <p class="bit-LrK">bit</p>
      </div>
      <p class="goo-rpf">Goo  </p>
    </div>
    <div class="profile-Bc3">
      <p class="name-YBh">Kitton Sudlor</p>
      <img class="ellipse-490-4vj" src="./assets/ellipse-490-HR1.png"/>
    </div>
    <img class="vector-chM" src="./assets/vector.png"/>
  </div>
  <div class="auto-group-ps51-9BV">
    <div class="auto-group-vcd5-GX1">
      <div class="profile-1Dh">
        <div class="auto-group-x6tz-YjR">
          <div class="bg-JCo">
          </div>
          <img class="profile-pic-2eb" src="./assets/profile-pic-PYs.png"/>
          <p class="email-NTZ">kitton@sudlor.com</p>
          <p class="name-gDM">Kitton Sudlor</p>
        </div>
        <p class="bio-Bfu">
        bio1
        <br/>
        bio2
        <br/>
        bio3
        </p>
        <div class="event-counter-JVd">
          <div class="participated-dXu">
            <p class="participated-m8K">Participated </p>
            <p class="item-4-UYX">4</p>
            <img class="interface-essential-flag-np7" src="./assets/interface-essential-flag-ZRq.png"/>
          </div>
          <div class="participated-Uwq">
            <div class="participated-DeX">
            </div>
            <p class="hosted-x6K">Hosted</p>
            <p class="item-3-rL7">3</p>
            <img class="interface-essential-flag-MGs" src="./assets/interface-essential-flag-7i7.png"/>
          </div>
        </div>
      </div>
      <div class="settings-3Qb">
        <div class="frame-7-n7H">
          <p class="settings-8gw">Settings</p>
          <img class="droop-line-settings-56P" src="./assets/droop-line-settings-CT9.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-iqpt-aJ3">
      <div class="create-post-vMu">
        <img class="ellipse-490-2A3" src="./assets/ellipse-490-6KR.png"/>
        <div class="auto-group-exnb-xpP">What’s event do you want to start?</div>
        <img class="droop-line-photo-Puh" src="./assets/droop-line-photo-wWP.png"/>
        <img class="post-icon-ih5" src="./assets/post-icon-Erj.png"/>
      </div>
      <div class="posts-EfR">
        <div class="post-zuV">
          <div class="rectangle-5654-js5">
          </div>
          <div class="picture-5AF">
          </div>
          <img class="ellipse-490-cR5" src="./assets/ellipse-490-z95.png"/>
          <img class="droop-line-settings-wy9" src="./assets/droop-line-settings-EqD.png"/>
          <div class="progress-bar-5pT">
            <div class="total-bar-pX9">
            </div>
          </div>
          <p class="name-MGB">Kitton Sudlor</p>
          <p class="title-g3Z">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p class="end-date-nsH">Ended in: 29/2/2024</p>
          <p class="number-uwu">3/5</p>
          <div class="line-3-DBu">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>