<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="~/css/Ton.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;600&display=swap"
    />
  </head>
  <body>
    <div class="edit-profile-dark">
      <header class="navbar1">
        <div class="navbar-item"></div>
        <h2 class="goo1">Goo</h2>
        <div class="first-name-frame">
          <img
            class="first-name-frame-child"
            loading="lazy"
            alt=""
            src="./public/rectangle-5650.svg"
          />
        </div>
      </header>
      <form class="myform">
        <div class="left">
            <p>Edit profile</p>
        </div>
        <div class="right">
            <p>img</p>
        </div>
        <div class="left">
            <input type="text" placeholder="First name">
            <input type="text" placeholder="last name">
        </div>
        <div class="left">
            <input type="text" placeholder="Email">
        </div>
        <div class="left">
            <input type="text" placeholder="Description">
        </div>
        <div class="left">
            <input type="text" placeholder="Password">
        </div>
        <div class="left">
            <input type="text" placeholder="Comfirmed password">
        </div>
        <div class="left">
            <input type="button" value="Submit">
            <input type="button" value="Cancel">
        </div>
      </form>
    </div>
  </body>
</html>
