@model IEnumerable<GooBitAPI.Models.User>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lastname) <br>
        </td>
    </tr>
}