@model GooBitAPI.Models.User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_layoutforLogin.cshtml";
}
<link rel="stylesheet" href="~/css/register_style.css" asp-append-version="true" />
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="container">
    <div class="login-detail">
        <div class="login-context">
            <h1>GOOBIT</h1>
            <p>Popular place for finding people</p>
        </div>
    </div>
    <div class="login-container">
        <form asp-controller="User" asp-action="Register" method="post">
            <h2>Hello!</h2>
            <p>Sign Up to Get Started</p>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <input asp-for="username" class="input" type="text " placeholder="Usernsme">
                    <span asp-validation-for="username"></span>
                </div>
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <input asp-for="firstname" class="input" type="text " placeholder="First Name">
                    <span asp-validation-for="firstname"></span>
                </div>
            </div>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <input asp-for="lastname" class="input" type="text " placeholder="Last Name">
                    <span asp-validation-for="lastname"></span>
                </div>
            </div>

            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div>
                    <input asp-for="email" class="input" type="email" placeholder="Email Address">
                    <span asp-validation-for="email"></span>
                </div>
            </div>

            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <input  asp-for="password" class="input" type="password" placeholder="Password">
                    <span asp-validation-for="password"></span>
                </div>
            </div>
            <input class="btn" type="submit" value="Register">
        </form>
    </div>
</div>
