@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_layoutforLogin.cshtml";
}
<link rel="stylesheet" href="~/css/loginstyle.css" asp-append-version="true" />
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

<div class="container">
    <div class="login-detail">
        <div class="login-context">
            <h1>GOOBIT</h1>
            <p>Popular place for finding people</p>
        </div>
    </div>
    <div class="login-container">
        <form>
            <h2>Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-envelope"></i>
                </div>
                <div>
                    <input class="input" type="email" placeholder="Email Address">
                </div>
            </div>

            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <input class="input" type="password" placeholder="Password">
                </div>
            </div>
            <button class="btn">Login</button>
            <div class="line"><span>or</span></div>
            <button class="btn" asp-controller="Login" asp-action="register">Register</button>
        </form>
    </div>
</div>
