
﻿@model IEnumerable<GooBitAPI.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/homepage.css"/>
<div class="home-page">
    <div class="post__list">
        @for(int i = 0; i< 10 ;i++)
        {
            <a class='post__container' asp-area="" asp-controller="Home" asp-action="Post">
                <div class='post__container-header'>
                    <img src="~/uploadFiles/875d5615-be02-4ae1-9e50-30471b89b779.jpg"/>
                    <p> Kitton </p>
                </div>
                <div class='post__container-body'>
                    <p> thee khaaa hreeeee</p>
                    <div class="img-container">
                        <img src="~/uploadFiles/875d5615-be02-4ae1-9e50-30471b89b779.jpg"/>
                    </div>
                </div>

                <div class='post__container-footer'>
                    <p id="date">Ended in: xx/xx/xxxx</p>
                    <div class="progress-bar-container">
                        <div class="progress-bar"></div>
                    </div>
                    <p id="attemp">3/5</p>
                </div>
            </a>
        } 
    </div>
</div>
