@{
    ViewData["Title"] = "Post";
}

<link rel="stylesheet" href="~/css/postpage.css"/>
<div class="post-page">
    <div class="post-header">
        <div class="map">

        </div>
        <img src="~/uploadFiles/875d5615-be02-4ae1-9e50-30471b89b779.jpg"/>
    </div>
    <div class="post-body-move">
        <div class="post-des">
            <h4>SUKI PARTY kmitl</h4>
            <p id="author">by Kitton Sudlor</p>
            <p id="category">Category • Eating</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh tellus molestie nunc non blandit massa enim nec. Suscipit tellus mauris a diam maecenas sed. Orci phasellus egestas tellus rutrum tellus pellentesque. Risus in hendrerit gravida rutrum quisque. Vitae turpis massa sed elementum tempus egestas sed. Placerat orci nulla pellentesque dignissim enim sit amet venenatis. Diam vulputate ut pharetra sit amet aliquam id. Felis donec et odio pellentesque. Nec dui nunc mattis enim.</p>
            <img src="~/uploadFiles/875d5615-be02-4ae1-9e50-30471b89b779.jpg"/>
        </div>
        <div class="join-bt">
            <button>I want to anticipate in this event </button>
        </div>
    </div>
    <div class="post-body-static">
        <div class="post-status">
            <div class="date-line">

            </div>
            <div class="joined">
                
            </div>
        </div>
        <div class="post-comment">
        </div>
    </div>
    
    
</div>