create.css

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.left {
    left: 0;
    background-color: rgb(55, 55, 55);
    width: 60%;
    margin-top: 60px;
  }
  
.right {
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 40%;
    padding: 0px;
    margin-top: 60px;
  }

#post-form {
    align-items: left;
    height: 450px;
    color: grey;
}

.col-left{
  float: left;
  width: 50%;
}

.col-right{
  float: left;
  width: 50%;
}

.header{
  position:  fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
}

.post-form-input{
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #ddd;
  text-align: center;
}

#post-form select{
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid;
  border-color: #ddd;
  text-align: center;
}

.form-label{
  margin-left: 10px;
}

.profile{
  margin-left: 10px;
  margin-top: 0px;
  display: flex;
}
.username{
  margin-left: 30px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
}

.profileimg{
  width: 62px;
  height: 62px;
  margin-left: 20px;
  border-radius: 45px;
  margin-top: 30px;
}
#post-form textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
} 

#submitBtn {
  position: absolute;
  top: auto;
  right: 80px;
}

#cancelBtn {
  position: absolute;
  top: auto;
  left: 20px;
}

#deleteBtn{
  position: absolute;
  top: 20px;
  right: 10px;
}

.image-preview {
    margin-top: 10px;
  }

.preview-image {
    max-width: 100%;
    max-height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 10px;
}

#map {
    height: 150px;
    width: 100%;
  }

#file-container {
    text-align: center;
    margin: 20px;
    position: relative;
    top: 0;
    left:0;
}

.file-label {
    cursor: pointer;
    padding: 10px 20px;
    color: #ddd;
    border-radius: 20px;
    border: groove;
}

#image-input {
    display: none;
}

.selected-image-container {
    display: inline-block;
    position: relative;
}

.selected-image {
    max-width: 200px;
    margin: 5px;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}