body{
    background-color: #181817;
}

.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.post__container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50vw;
    border-radius: 10px;
    background: #222224;
    color: white;
    text-decoration: none;
    
}

/* .post__container:hover{
    color: #F7971D;
} */

.post__container-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
}

.post__container-header img{
    width: 53px;
    height: 53px;
    margin-left: 1px;
    border-radius: 45px;
    align-items: center;
    padding: 10px;
}

.header-status{
    display: flex;
    color: dimgray;
}
#status{
    margin: 0px 5px;
}

.post__container-header p{
    margin: 0px 0px;
}

.post__container-header-name{
    font-weight: bold;
    font-size: 18px;
}

.post__container-header-end-date{
    font-weight: normal;
    font-size: 12px;
}


.post__container-body{
    /* border-top: solid #a4a4a4 2px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.img-container{
    width: 98%;
    height: 380px;
    /* background-color: #a4a4a4; */
    background-color: #131313;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.img-container img{
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.post__container-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post__container-footer #title{
    font-size: 25px;
    font-weight: 500;
    font-weight: bold;
    padding: 10px 15px;
    margin: 0px;
    /* border: 2px solid red; */
}

.post__container-footer #description{
    text-align: start;
    margin: 0px;
    padding: 0px 15px;
    /* border: 2px solid red; */
}

.element__container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin: 20px 0px;
}

.post__container-location{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 10px 15px;
}
.post__containter-category{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 10px 15px;
}

.post__containter-category p{
    margin: 0px 15px;
    font-size: 15px;
    font-weight: 500;
}
.post__container-location img{
    width: auto;
    height: 10%;
}

.post__container-location #location{
    margin: 0px 15px;
    font-size: 15px;
    font-weight: 500;
    
}

.post__container-date{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 10px 15px;

}
.post__container-date #date{
    padding: 0px 15px;
    margin: 0px 0px;
}

.element__container #participant{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin:10px 15px;
}

.post__container-footer #attemp{
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}

.element__container img{
    width: 4%;
    height: auto;
}

.progress-bar-container{
    width: 150px;
    height: 10px;
    border-radius: 20px;
    margin: 0px 20px;
    
    background-color: #181817;
}

.progress-bar{
    height: 100%;
    width: 50%;
    border-radius: 20px;
    background-color: #F7971D;
}
