@model GooBitAPI.Models.User
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link href="~/css/style.css" rel="stylesheet" media="all" />
</head>

<body>
    <div class="split left">
        <div id="file-container">
            <label for="image-input" class="file-label">Choose Images</label>
            <input type="file" id="image-input" name="images" accept="image/*" multiple required>
            <div id="selected-images"></div>
        </div>
    </div>
    <div class="split right">
        <form id="post-form">
            <textarea id="title" placeholder="Type title of this event..." name="title"></textarea>
            <a>Maximum member : <input type="text"  id="max_member" name="max_member"></input>
                <br><label for="datetimeInput">Selection Ending Date and Time:</label>
                <input type="datetime-local" id="end_date" name="end_date">
                <br><label for="datetimeInput">Select Event Date and Time:</label>
                <input type="datetime-local" id="event_date" name="event_date">
                <a>Duration : <input type="text"  id="duration" name="duration"></input>
                    <div class="category-dropdown">
                        <a>Select Category: </a>
                        <div class="dropdown">
                            <button id="selectedOption" class="dropbtn" type="button">Category</button>
                            <ul class="dropdown-content">
                                <li><a href="#" onclick="updateButtonText('Eating')">Eating</a></li>
                                <li><a href="#" onclick="updateButtonText('Fitness')">Fitness</a></li>
                                <li><a href="#" onclick="updateButtonText('Trip')">Trip</a></li>
                                <li><a href="#" onclick="updateButtonText('Study')">Study</a></li>
                            </ul>
                        </div>
                    </div>
                </a>
                <textarea id="description" placeholder="Add description..." name="description"></textarea>
        </form>
        <input type="text" id="googlemap_location" placeholder="Add location..." name="googlemap_location">
        <button onclick="searchLocation()">Search</button>
        <div id="map"></div>
        <button type="button" id="createButton">Create</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/CreatePost.js"></script>
</body>

</html>